In [1]:
#Question 1
import pandas as pd
df = pd.DataFrame(columns = ['Name','Age','Percentage'])
df.loc[1] = ['Raj ',25 ,67]
df.loc[2] = ['Sachin ',19 ,87]
df.loc[3] = ['Prathamesh ',17 ,55]
df.loc[4] = ['Shreyas ', 18,65]
df.loc[5] = ['Savan ', 20,95]
df.loc[6] = ['Mahesh', 19,88]
df.loc[7] = ['Ram ', 25,72]
df.loc[8] = ['Sahish ',24 ,62]
df.loc[9] = ['Rutik ', 14,51]
df.loc[10] = ['Aditya ', 13,45]
df

           Name Age Percentage
1          Raj   25         67
2       Sachin   19         87
3   Prathamesh   17         55
4      Shreyas   18         65
5        Savan   20         95
6        Mahesh  19         88
7          Ram   25         72
8       Sahish   24         62
9        Rutik   14         51
10      Aditya   13         45